<div id="paginator-container" class="mt-9 flex items-center justify-center space-x-1">
  <a id="first-button" class="button px-2" hidden>&#124;&lt;</a>
  <a id="previous-button" class="button px-2" hidden>&lt;</a>
  <div id="page-numbers" class="flex items-center space-x-1"></div>
  <a id="next-button" class="button px-2">&gt;</a>
  <a id="last-button" class="button px-2">&gt;&#124;</a>
</div>
